<!DOCTYPE html>
<html>
<title>Capstone Portfolio</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Slabo 27px is a font that I might use -->

<style>
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 4;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #555555;
  display: block;
}

.sidenav a:hover {
  color: #000000;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
</style>

</head>
<body>

<div class="sidenav">
  <center>
    <h2>Arlington Tech Capstone Portfolio</h2>
    <a href="#idk">four</a>
    <a href="#idk">three</a>
    <a href="#idk">two</a>
    <a href="#idk">one</a>
  </center>
</div>

<div class="main">
    {% block content %}
    {% endblock %}
</div>
   
</body>
</html> 
