{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Career and Life Management</h1>
<p>
    One of the most prominent things that my capstone internship has taught me
    is career and life management. With career and life management, I will be
     able to set goals, manage personal growth, identify resources for
     professional development, and plan out my career and life goals.
     Throughout my internship so far, I have been able to develop my career
     and life management skills.
</p>

<p>
    Below are some examples of career and life management in my
    capstone experience:
</p>

<ol>
    <li>Organizing a Django Girls workshop</li>
        <ul>
            <li>As a part of my capstone experience, I have been organizing a
                Django Girls workshop, which will take place on February 22.
            </li>
            <li>You can find the workshop website
                <a href="https://djangogirls.org/arlington">here</a>.
            </li>
            <li>
                Below is a screenshot of an email I sent to Ms. Eagle about the
                workshop to ask for help with a subject that I was unfamilar
                with.
                <br><img src="{% static 'img/eagle_email.png' %}" alt="eagle email" style='height: 100%; width: 100%; object-fit: contain'/>
            </li>
            <li>
                This shows life and career management because I'm able to
                experience what it is like to organize a workshop for the
                first time, as well as ask for help. I've had to speak
                to professionals in all sorts of fields, and work across
                disciplines to make this workshop happen.
            </li>
        </ul>
<!--<li>Sign and Read mentorship</li>
        <ul>
            <li>
                One of the projects that I am working on is called Sign and
                Read. It is a piece of software intended to teach deaf children
                to read. I work in a group to update the software so that it
                can run.
            </li>
            <li>
                Below, you can find an email
            </li>
            <li>You can find the workshop website
                <a href="https://djangogirls.org/arlington">here</a>.
            </li>
            <li>
                <br>organizing?
            </li>
        </ul>
-->
</ol>

{% endblock %}
