{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Career and Life Management</h1>
<p>
    One of the most prominent things that my capstone internship has taught me
    is career and life management. With career and life management, I will be
     able to set goals, manage personal growth, identify resources for
     professional development, and plan out my career and life goals.
     Throughout my internship so far, I have been able to develop my career
     and life management skills.
</p>

<p>
    Below are some examples of career and life management in my
    capstone experience:
</p>

<ol>
    <li>Organizing a Django Girls Workshop</li>
    <ul>
        <li>As a part of my capstone experience, I have been organizing a
            Django Girls workshop, which will take place on February 22.
        </li>
        <li>You can find the workshop website
            <a href="https://djangogirls.org/arlington">here</a>.
        </li>
        <li>
            <br>organizing?
        </li>
    </ul>
</ol>

{% endblock %}
