{% extends "base.html" %}
{% block content %}

<h1>Creativity and Innovation</h1>
<p>
    Creativity and innovation are vital parts of my capstone experience. From
    finding new solutions to old problems to creating web applications from
    scratch, the need for creativity and innovation is endless.
</p>
<p>
    Here are some examples of creativity and innovation in my capstone
    experience:
    <br><br>
    - Brainstorming and contributing ideas, strategies, and solutions
    - Developing and/or improving products, services, or processes
    - Identifying and allocating available resources
</p>

{% endblock%}
