{% extends "base.html" %}
{% block content %}

<h1>Creativity and Innovation</h1>
<p>
    Creativity and innovation are vital parts of my capstone experience. From
    finding new solutions to old problems to creating web applications from
    scratch, the need for creativity and innovation is endless.
</p>
<p>
    Below are some examples of creativity and innovation in my capstone
    experience:
</p>

<ol>
    <li>Designing the ASA Site</li>
    <ul>
        <li>One of my first projects was working on a site for the
            Arlington School Administrators (ASA) with my mentor.
        </li>
        <li>You can find the finalized site
            <a href="https://asadministrators.com/">here</a>.
        </li>
        <li>:
            <br>screenshot
        </li>
    </ul>
</ol>

{% endblock%}
