{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Critical Thinking and Problem Solving</h1>
<p>
    Critical thinking and problem solving skills are essential in the my
    capstone internship.  With critical thinking and problem solving, I
    can recognize problems, evaluate potential solutions, make logical
    decisions, and solve problems using effective courses of action. So far
    during my internship, I have encountered several times when I needed
    to use critical thinking and problem solving skills.
</p>
<p>
    Below are some examples of critical thinking and problem solving in my
    capstone experience:
</p>

<ol>
    <li>Upgrading Testament (BTP)</li>
    <ul>
        <li>
            One of the projects I worked on this year was upgrading a piece of
            software called Testament, which is used by the DC Books to
            Prisons to send books to prisoners.
        </li>
        <li>
            As I worked on this project with my mentor, we had to recognize
            and analyze problems as they came up. Because we didn't want to
            change what the software already did, we had to be careful to
            make sure to only change the parts that needed to be upgraded.
        </li>
        <li>
            Although the project is still ongoing, below is one of the issues
            that I solved on this project:
            <br><img src="{% static 'pages/gitdiff.jpg' %}" alt="gitdiff"/>
        </li>
        <small>Lines in green: code I added</small>
        <br>
        <small>Lines in red: code I deleted</small>
        <li>
            This screenshot is an example of critical thinking and problem
            solving because it shows how I was able to identify and solve
            the problem at hand without disturbing the majority of the code.
        </li>
    </ul>
</ol>
{% endblock %}
