{% extends "base.html" %}
{% block content %}
<h1>Home</h1>
<p>
    Hello! Welcome to my Arlington Tech capstone portfolio.
</p>
<p>
    My name is Lena Bolz and I'm an Arlington Tech student currently
    participating in the <a href="https://careercenter.apsva.us/capstone/">
    Arlington Tech capstone experience</a>, which is a work-based learning
    (WBL) opportunity.
</p>
<p>
    My capstone internship is with <a href="https://novawebdevelopment.org/">
    NOVA Web Development</a>, and I work on a variety of projects surrounding
    web application development.
</p>
<p>
    This website contains evidence of each competency area that I
    am required to demonstrate progress towards for my capstone internship.
</p>
<p>
    These competency areas are:
    <ul>
        <li>Creativity and innovation</li>
        <li>Critical thinking skills</li>
        <li>Career and life management</li>
        <li>Time and resource management</li>
        <li>Professionalism in the workplace</li>
        <li>Reflection on lessons learned from WBL</li>
    </ul>
</p>
<p>So, please feel free to explore this site to see the opportunities that
    Arlington Tech makes available with thir work-based learning!</p>
<p>
    <small>P.S. this portfolio is made using skills that I have learned from my capstone
    internship. :)</small>
</p>
{% endblock%}
