{% extends "base.html" %}
{% block content %}

<h1>Professionalism</h1>
<p>
    Professionalism is an essential skill no matter what job one does. The
    aility to be punctual, have good etiquette, stay on schedule, and have
    a professional appearance are all things that I have learned and expanded
     on during my capstone experience.
</p>

<p>
    Below are some examples of professionalism in my capstone experience:
</p>

<ol>
    <li>Notice of my absence at a meeting</li>
    <ul>
        <li>
            One of the projects that I am working on right now is called
            Sign and Read, and as a part of the project, I meet once a week
            with my project mentor to discuss progress. I was unable to be
            there during a certain week, so I gave prior notice of my absence
            during the meeting.
        </li>
        <li>
            Below is a screenshot of the email I sent:
            <br>show email screenshot
        </li>
    </ul>
</ol>

{% endblock%}
