{% extends "base.html" %}
{% block content %}
{% load static %}

<h1>Professionalism</h1>
<p>
    Professionalism is an essential skill no matter what job one does. The
    aility to be punctual, have good etiquette, stay on schedule, and have
    a professional appearance are all things that I have learned and expanded
     on during my capstone experience.
</p>

<p>
    Below are some examples of professionalism in my capstone experience:
</p>

<ol>
    <li>Setting up a meeting with a client</li>
    <ul>
        <li>
            While I worked on the ASA site, I had to meet with my client
            several times.
        </li>
        <li>
            Below is a screenshow of an email that I sent to arrange a meeting
            with the client.
            <br><img src="{% static 'pages/meeting_email.png' %}" alt="meeting email"/>
        </li>
        <li>
            This shows professionalism because of the language used, as well
            as the fact that I reached out ahead to the client instead of
            making them pester me to meet.
            <br>_
        </li>
    </ul>
    <li>Notice of my absence at a meeting</li>
    <ul>
        <li>
            One of the projects that I am working on right now is called
            Sign and Read, and as a part of the project, I meet once a week
            with my project mentor to discuss progress. I was unable to be
            there during a certain week, so I gave prior notice of my absence
            during the meeting.
        </li>
        <li>
            Below is a screenshot of the email I sent:
            <br><img src="{% static 'pages/absence_email.png' %}" alt="absence email"/>
        </li>
        <li>
            This shows professionalism because I was able to notify my
            teammates about my absence beforehand, rather than not showing up
            with no notice.
        </li>
    </ul>
</ol>

{% endblock %}
