{% extends "base.html" %}
{% block content %}
<h1>
    Reflection
</h1>
<p>
    Research indicates that reflecting on work can improve job performance. As
     a part of my capstone, I completed reflections on my work-based learning
     experience. You can read them below:
 </p>

<h2>
    Mid-Year Reflection
</h2>

<p>
    So far with my capstone, I think that I have made the most progress towards
    the professionalism competency. The main reason for this, is simply because
    I've become more comfortable sending emails to people. Much more of my work
     has revolved around communication than I thought it would, and thus the
     task of sending an email has become less daunting than ever before. Thus,
     I think that I have made the most progress with the professionalism
     competency.
</p>

<p>
    As I continue with my capstone, I think that my immediate goal is to work
    on my time and resources competency. This is because the Django Girls
    Arlington workshop is coming up <b>soon</b>, and so that is my
    immediate concern. Thus, I've been spending lots of time working on
    making sure that our timing and resources work for this workshop.
</p>

<h2>
    Monthly Reflections
</h2>

<h3>November 2019</h3>

<p>
    This month, I started a new project at my work. It’s called Testament,
    and it is used by the Books to Prisoners in DC to help prisoners obtain
    books from throughout the country. We had to upgrade the software to a
    newer version since the old one is going out of date. I worked in
    conjunction with Edzon to start this project, and was also in charge of
     emailing the original developers to tell them that we were doing this.
     I was originally quite a bit nervous to work on this, since I don’t
     have any experience with Python 2 (which is what we were upgrading from)
     . However, it was a lot easier than I thought it would be- the
     answer was to almost everything was on Google. As I continue with
     this project, I want to focus on communicating with Edzon about
     progress throughout the week. This is because we only communicate on
     Thursdays, but I still work throughout the week, and because I am
     reluctant to send emails, I think it is something I should work on.
     As a result of this project, I have learned how to upgrade software
     and communicate with developers outside of the company.
 </p>

<h3>December 2019</h3>

<p>
    This month, I started/continued two projects, and finished the last
    one. The two projects involve upgrading software from earlier
    (and outdated) versions. One of the projects, Sign and Read, will be
    a group effort from within the company, and we’ll be working in a group
     of people to get this done, which will be a new experience. So far,
     I think that things are slow to start (as we all work remotely), but
     I think things will pick up now that we’ve started. As I continue
     with this project, I will make sure to turn things in on time and
     communicate effectively with my group.
</p>

<h3>January 2020</h3>

<p>
    This month was quite productive regarding the Django Girls workshop
    that I have been planning. First off, we got into communication with
    the Django Girls DC team and they decided to push their workshop off
    until summer. From there, registration boomed and now many people have
    signed up. One of the issues I’ve been working on fixing is getting
    funding for lunch for the workshop. Thankfully, Ms. Dinardo was willing
    to help get our sponsorship letter worded correctly, so we’ve been able
    to send it out. I’ve been invited to an ATAC meeting to present to ask
    for funds, and if I am successful, we will get them from there. Overall,
    I’m quite stressed about the workshop, but I think it will turn out well.
</p>
{% endblock%}
