{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Time Management</h1>
<p>
    Time management is an essential skill for the workplace. With time
    management, I will be able to efficiently use time and resources, develop
    a plan of work, and prioritize and adapt goals. So far in my capstone
    experience, time management has been more important than ever.
</p>
<p>
    Below are some examples of time management in my capstone experience:
</p>
<ol>
    <li>Keeping a calendar</li>
    <ul>
        <li>
            As I have become more and more busy throughout my capstone, I have
            had to rely more and more on a calendar to help me manage my time.
        </li>
        <li>
            I
        </li>
        <li>
            Below is a screenshow of an email that I sent to arrange a meeting
            with the client.
            <br><img src="{% static 'img/work_calendar.png' %}" alt="work calendar"/>
        </li>
        <li>
            This shows professionalism because of the language used, as well
            as the fact that I reached out ahead to the client instead of
            making them pester me to meet.
            <br>_
        </li>
    </ul>
</ol>
{% endblock %}
