{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Time and Resource Management</h1>
<p>
    Time management is an essential skill for the workplace. With time
    management, I will be able to efficiently use time and resources, develop
    a plan of work, and prioritize and adapt goals. So far in my capstone
    experience, time management has been more important than ever.
</p>
<p>
    Below are some examples of time management in my capstone experience:
</p>
<ol>
    <li>Keeping a calendar</li>
    <ul>
        <li>
            As I have become more and more busy throughout my capstone, I have
            had to rely more and more on a calendar to help me manage my time.
        </li>
        <li>
            Below is a screenshow of one of the busier weeks on my calendar.
            <br><br><img src="{% static 'img/work_calendar.png' %}" alt="work calendar" style='height: 100%; width: 100%; object-fit: contain'/>
        </li>
        <li>
            This shows time management because I was able to see how much time
            I had available for what I needed to do for the week. This allowed
            me to prioritize and adapt to the schedule as needed.
        </li>
    </ul>
</ol>
{% endblock %}
